/*Settings on all pages*/
body{
    background-color: #c1bbbb;

}
a{
    color: #000000;
}
header.pageDesign{
    border-bottom: solid 1px;
    width: 70%;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 15%;
}
.greetingDesign{
    border-top: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}
.greetingDesign h1{
    padding-right: 20%;
    font-size: 30px;
    text-align: right;
}

/*Admin index page*/
.boxWithAllTestsDesign{
    border: solid 1px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.boxWithAllTestsDesign a{
    display: inline;
    margin-right: 5px;
}
/*--Test---*/
h1.box{
    border: solid 1px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
section.box{
    border: solid 1px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
section.boxQ{
    border: solid 1px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
section.boxTest{
    border: solid 1px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    height: 300px;
}
.boxRanking{
    border: solid 1px;
    background-color: #cdfff9;
    margin-top: 5px;
    display: block;
    width: 20%;
}
#sortable{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input[type=number] {
    width: 45px;
}
button.delete{
    float: right;
}
button.assign{
     float: right;
     margin-left: 20px;
 }
button.start{
    float: right;
    margin-left: 20px;
    background-color: rgba(139, 228, 94, 0.6);
}
button.previuosQuestion{
    margin-right: 10px;
}
button.testResult{
    float: right;
    background-color: rgba(228,204,91,0.6);
}
.dateWidth{
    width: 80px;
}
nav{
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 45px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: underline;
}

li {
    display: inline;
    margin-right: 60px;
}
li.adminTest{
    display: inline;
    margin-right: 20px;
}
ol.register{
    border: solid 1px black;
    background-color: white;
    margin-bottom: 3px;
    width: 50%;
}
.floatRight{
    float: right;
}
.hidden{
    display:none;
}
#endTest{
    margin-left: 20px;
}
/*----test-stop--*/

/*Student index page*/


/*test page*/
.testPageDesign{
    border-top: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}
.questionDesign{
    border: solid 1px;
    padding-bottom: 10px;
    padding-left: 5%;
    margin-bottom: 5px;
}

/*testresults page*/
.resultPageDesign{
    border-top: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.resultBox{
    border: solid 1px;
    margin-bottom: 10px;
    padding-left: 30px;
}
.resultBox p {
    padding-top: 10px;
    padding-left: 5%;
}

/*create test page*/
#addQuestion{
    border: solid 1px;
    margin-bottom: 5px;
}
.createTestButtonDesign{
    border: solid 1px;
    margin-top: 5px;
}

/*Login page*/
.sectionBorder{
    border-top: solid 1px;
    padding: 30px;
}
.loginDesign {
    border: solid 1px;
    border-color: #a8a8a8;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #fffdfd;
    width: 30%;
    margin: 0 auto;
}

#studentCss {
    width: 100%;
    background: white;

}

#studentTableHead {
    text-align: left;
}

#teacherCss {
    width: 100%;
}

#teacherTableHead {
    text-align: left;
}

#adminCss {
    width: 100%;
}
#adminTableHead {
    text-align: left;
}