/*Settings on all pages*/
body{
    background-color: #c1bbbb;

}
a{
    color: #000000;
}
header.pageDesign{
    border-bottom: solid 1px;
    width: 70%;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 15%;
}
.greetingDesign{
    border-top: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}
.greetingDesign h1{
    padding-right: 20%;
    font-size: 30px;
    text-align: right;
}

/*Admin index page*/
.boxWithAllTestsDesign{
    border: solid 1px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.boxWithAllTestsDesign a{
    display: inline;
    margin-right: 5px;
}
/*--Test---*/
.box{
    border: solid 1px;
    margin-bottom: 10px;
}
section.boxQ{
    border: solid 1px;
    margin-bottom: 10px;
}
/*
#content{
    border: solid 1px;
    margin-left: 95px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}*/
/*----test-stop--*/

/*Student index page*/


/*test page*/
.testPageDesign{
    border-top: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}
.questionDesign{
    border: solid 1px;
    padding-bottom: 10px;
    padding-left: 5%;
    margin-bottom: 5px;
}

/*testresults page*/
.resultPageDesign{
    border-top: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.resultBox{
    border: solid 1px;
    margin-bottom: 10px;
    padding-left: 30px;
}
.resultBox p {
    padding-top: 10px;
    padding-left: 5%;
}

/*create test page*/
#addQuestion{
    border: solid 1px;
    margin-bottom: 5px;
}
.createTestButtonDesign{
    border: solid 1px;
    margin-top: 5px;
}

/*Login page*/
.sectionBorder{
    border-top: solid 1px;
    padding: 30px;
}
.loginDesign {
    border: solid 1px;
    border-color: #a8a8a8;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #fffdfd;
    width: 30%;
    margin: 0 auto;
}
